<h3>Edit Your Mail</h3>
<div class="row">
    <form action="/api/notify/{{mailData._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field col s12">
                <input id="to" name="to" type="email" class="validate" value="{{mailData.to}}" required>
                <label for="to">To</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="cc" name="cc" type="email" class="validate" value="{{mailData.cc}}">
                <label for="cc">CC</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="subject" name="subject" type="text" class="validate" value="{{mailData.subject}}" required>
                <label for="subject">Subject</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="schTime" name="schTime" type="number" min="1" max="60" class="validate"
                    value={{mailData.schTime}} required>
                <label for="schTime">Recieve Mail every </label>
            </div>
            <div class="input-field col s6">
                <select id="status" name="schUnit" onchange="onChange(this,event)">
                    {{#select mailData.sctUnit}}
                    <option value="sec" selected>Recurring &#40;1-60 Seconds&#41;</option>
                    <option value="hour">Daily &#40;1-24 Seconds&#41;</option>
                    <option value="day">Weekly &#40;1-7 Seconds&#41;</option>
                    <option value="date">Monthly &#40;1-31 Seconds&#41;</option>
                    <option value="mon">Yearly &#40;1-12 Seconds&#41;</option>
                    {{/select}}
                </select>
                <label for="status">Time Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <h5>Write Your Mail Here:</h5>
                <textarea id="body" name="mailBody" required>{{mailData.mailBody}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <input type="submit" value="Save" class="btn">
                <a href="/dashboard" class="btn red">Cancel</a>
            </div>
        </div>
    </form>
</div>