<h3>Create New Mail</h3>
<div class="row">
    <form action="/api/notify/{{mailData._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        {{!-- <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{story.title}}">
                <label for="title">Title</label>
            </div>
        </div> --}}
        <div class="row">
            <div class="input-field col s12">
                <input id="title" name="subject" value={{mailData.subject}}>
                <label for="title">Subject</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="email" name="to" type="email" class="validate" value={{mailData.to}}>
                <label for="email">To</label>
            </div>
            <div class="input-field col s6">
                <input id="email" name="cc" type="email" class="validate" value={{mailData.cc}}>
                <label for="email">CC</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select id="status" name="schUnit" value={{mailData.schUnit}}>
                    <option value="sec" selected>Seconds</option>
                    <option value="min">Minutes</option>
                    <option value="mon">Months</option>
                    <option value="year">Years</option>
                </select>
                <label for="status">Time Unit</label>
            </div>
            <div class="input-field col s6">
                <input id="text" name="schTime" type="text" class="validate" value={{mailData.schTime}}>
                <label for="text">How Many</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <h5>Write Your Mail Here:</h5>
                <textarea id="body" name="mailBody">{{mailData.mailBody}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <input type="submit" value="Save" class="btn">
                <a href="/dashboard" class="btn red">Cancel</a>
            </div>
        </div>
    </form>
</div>