{{!-- <h1>Welcome {{name}}</h1>
<a class="btn btn-danger" href="/user/logout">Logout</a> --}}
<h2>Your Scheduled Mails</h2>

{{#if response}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>To</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each response}}
        <tr>
            <td><a href="/api/notify/show/{{_id}}">{{subject}}</a></td>
            <td>{{formatDate date "MMMM Do YYYY, h:mm:ss a"}}</td>
            {{!-- the formatDate here acts as a function in helpers/hbs through app.js to
            format date. The rest two attributes are passed as parameters --}}
            <td><span class="dash-status">{{to}}</span></td>
            <td>
                {{!-- <a href="/stories/edit/{{{_id}}}" class="btn btn-float"><i class="fa fa-edit"></i></a> --}}
                <form action="/api/history/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-float red">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<h5>You have not Scheduled any Mails</h5>
<a href="/dashboard" class="btn">Dashboard</a>
{{/if}}